<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
<!--    <property name="connection.url"/>-->
<!--    <property name="connection.driver_class"/>-->
<!--     <property name="connection.username"/> -->
<!--     <property name="connection.password"/> -->
    <property name="show_sql">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
      <property name="connection.url">jdbc:mysql://34.86.200.102:3306</property>
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

      <mapping resource="User.hbm.xml"/>
      <mapping class="com.bf.employee.entity.User"/>
      <mapping class="com.bf.employee.entity.Role"/>
      <mapping resource="Role.hbm.xml"/>
      <mapping class="com.bf.employee.entity.UserRole"/>
      <mapping resource="UserRole.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
      <mapping class="com.bf.employee.entity.RegistrationToken"/>
    <property name="hibernate.hbm2ddl.auto">update</property>

      <mapping resource="User.hbm.xml"/>
      <mapping class="com.bf.employee.entity.User"/>
      <mapping class="com.bf.employee.entity.Role"/>
      <mapping resource="Role.hbm.xml"/>
      <mapping class="com.bf.employee.entity.UserRole"/>
      <mapping resource="UserRole.hbm.xml"/>
      <!-- DB schema will be updated if needed -->
      <mapping class="com.bf.employee.entity.RegistrationToken"/>

      <mapping resource="RegistrationToken.hbm.xml"/>
      <mapping resource="User.hbm.xml"/>
      <mapping class="com.bf.employee.entity.VisaStatus"/>
      <mapping resource="VisaStatus.hbm.xml"/>
      <mapping class="com.bf.employee.entity.Person"/>
      <mapping resource="Person.hbm.xml"/>
    <mapping class="com.bf.employee.entity.Employee"/>
    <mapping resource="Employee.hbm.xml"/>
      <mapping class="com.bf.employee.entity.VisaStatus"/>
      <mapping resource="VisaStatus.hbm.xml"/>
      <mapping class="com.bf.employee.entity.Address"/>
      <mapping resource="Address.hbm.xml"/>
      <mapping class="com.bf.employee.entity.Contact"/>
      <mapping resource="Contact.hbm.xml"/>
    <mapping class="com.bf.employee.entity.FacilityReport"/>
    <mapping resource="FacilityReport.hbm.xml"/>
    <mapping class="com.bf.employee.entity.FacilityReportDetail"/>
    <mapping resource="FacilityReportDetail.hbm.xml"/>
      <mapping class="com.bf.employee.entity.ApplicationWorkFlow"/>
      <mapping resource="ApplicationWorkFlow.hbm.xml"/>


      <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>